<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>RemoveBook</servlet-name>
		<servlet-class>servlet.RemoveBook</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>servlet.Reg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserMessageServlet</servlet-name>
		<servlet-class>servlet.UserMessage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>servlet.Delete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchUserServlet</servlet-name>
		<servlet-class>servlet.SearchUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditServlet</servlet-name>
		<servlet-class>servlet.Edit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExceedServlet</servlet-name>
		<servlet-class>servlet.Exceed</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmailServlet</servlet-name>
		<servlet-class>servlet.Email</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AppointServlet</servlet-name>
		<servlet-class>servlet.Appoint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddAppointServlet</servlet-name>
		<servlet-class>servlet.AddAppoint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExistServlet</servlet-name>
		<servlet-class>servlet.Exist</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReserveServlet</servlet-name>
		<servlet-class>servlet.Reserve</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteAppointServlet</servlet-name>
		<servlet-class>servlet.DeleteAppoint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>servlet.Image</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckServlet</servlet-name>
		<servlet-class>servlet.Check</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckServlet</servlet-name>
		<url-pattern>/CheckServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/ImageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserMessageServlet</servlet-name>
		<url-pattern>/UserMessageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchUserServlet</servlet-name>
		<url-pattern>/SearchUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditServlet</servlet-name>
		<url-pattern>/EditServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExceedServlet</servlet-name>
		<url-pattern>/ExceedServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmailServlet</servlet-name>
		<url-pattern>/EmailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AppointServlet</servlet-name>
		<url-pattern>/AppointServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddAppointServlet</servlet-name>
		<url-pattern>/AddAppointServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExistServlet</servlet-name>
		<url-pattern>/ExistServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReserveServlet</servlet-name>
		<url-pattern>/ReserveServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteAppointServlet</servlet-name>
		<url-pattern>/DeleteAppointServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveBook</servlet-name>
		<url-pattern>/RemoveBook</url-pattern>
	</servlet-mapping>
</web-app>